@import "tailwindcss";
@plugin "@tailwindcss/typography";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

body {
  font-family: "Inter", "Noto Sans SC", sans-serif;
  @apply selection:bg-neutral-200 dark:selection:bg-neutral-800 bg-white dark:bg-black antialiased scroll-smooth;
}

p {
  @apply leading-relaxed text-black dark:text-white;
}

.serif {
  font-family: "MTR Song", "Times New Roman", Times, serif;
}

.mono {
  font-family: "Jetbrains Mono Variable", monospace !important;
}

.prose > video,
.prose div video {
  @apply rounded-none sm:rounded-xl -translate-x-8 my-8;
  width: calc(100% + 4rem) !important;
  max-width: calc(100% + 4rem) !important; /* 增加max-width确保宽度生效 */
  box-sizing: border-box; /* 确保padding和border不影响宽度计算 */
  display: block; /* 确保视频作为块级元素显示 */
}