@import "tailwindcss";
@plugin "@tailwindcss/typography";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mona Sans", "AlibabaPuHuiTi-3", sans-serif;
  @apply bg-white dark:bg-black text-black dark:text-white text-sm selection:bg-neutral-200 dark:selection:bg-neutral-800 scroll-smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-sm;
}

.prose h1,
h2,
h3,
h4,
h5,
h6 {
  @apply !font-bold text-black dark:text-white;
}

p {
  @apply tracking-wide leading-normal;
}

a {
  @apply transition-all duration-500 bg-blue-50 border-b-2 border-blue-100 
         font-medium 
         dark:bg-blue-900/25 dark:border-blue-700/25 
   
}

strong {
  @apply bg-yellow-200 border-b-2 border-yellow-400 font-semibold 
         dark:bg-yellow-800/25 dark:border-yellow-600/25
        
}

.serif {
  font-family: "Noto Serif SC", serif;
}

button:active {
  scale: 0.9;
  @apply transition-transform duration-300;
}

pre {
  @apply px-8;
}

.prose code{
  @apply bg-neutral-100 dark:bg-neutral-900 rounded-sm;
}

pre,
code {
  font-family: "JetBrains Mono", monospace !important;
}

.mono {
  font-family: "JetBrains Mono", monospace !important;
}

.anchor-link {
  @apply no-underline font-semibold;
}
