@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica", "FF Hei", sans-serif;
  @apply bg-neutral-300 dark:bg-neutral-700 selection:bg-neutral-200/50 dark:selection:bg-neutral-800/50;
}

p {
  @apply leading-[1.7];
}

.serif {
  font-family: "MTR Song", 'Times New Roman', Times, serif;
}

.mono {
  font-family: "Jetbrains Mono Variable", monospace;
}
