<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{author}}" />
    <meta name="description" content="{{description}}" />
    <title>{{title}} - {{siteTitle}}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/edwardtufte/et-book@gh-pages/et-book.css"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/edwardtufte/et-book@gh-pages/et-book.css"
      />
    </noscript>
    <link rel="stylesheet" href="/tufte.css" />
    <link rel="stylesheet" href="/globals.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
       <a href="/now">Now</a>
      <a href="/blog">Blog</a>
    </nav>

    <main>
      <article>
        <section>
          {{content}}
        </section>
      </article>
    </main>

    <footer>
      <p>&copy; 2026 {{author}}. <a href="/rss.xml">RSS 订阅</a>.</p>
    </footer>
  </body>
</html>
